
<% if logged_in? %>
	<div class="row">
		<div class="col-md-offset-5">
			<%= form_tag root_path, :method => 'get' do %>
				<%= text_field_tag :search, params[:search] %>
				<%= submit_tag "Search" %>
			<% end %>
		</div>
	</div>	


	
	<div>
	<h4 class="col-md-offset-5">Showing all pins</h4>
	<% @pins.each do |pin| %>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading">
				<h4>owner pin:  <%= pin.user.username %></h4>
				<h4>title:       <%= pin.title %></h4>
				</div>
				<div class="panel-body">
				<h4>description: <%= pin.description %></h4>
				</div>
			</div>
		</div>
	</div>	
		
	<% end %>
	</div>

<% else %>
<center>
	<p>hello</p>
	<p>welcome to pinterest</p>
		<%= link_to "Sign Up", new_user_path %>
        <%= link_to "Log In", login_path %>
        <%= link_to "Connect With Facebook", "/auth/facebook" %> 
        <div class="spacing"></div>
        <h3>youtube search</h3>

	    <%= form_tag root_path, :method => 'get' do %>
	      <%= text_field_tag :search_term %><br/>
	      <%= submit_tag "Search" %>
	    <% end %>

	    <div class="row center">
			<% if @search_results %>
				<% @search_results.each do |result| %>
					<% case result.id.kind %>
			        <% when 'youtube#video' %>
						<p><%= result.snippet.title %></p>
						<iframe width="640" height="350" src="https://youtube.com/embed/<%= result.id.videoId %>" allowfullscreen="allowfullscreen"></iframe>
			        <% when 'youtube#channel' %>
						<p><%= result.snippet.title %> <%= result.id.channelId %></p>
					<% when 'youtube#playlist' %>
						<p><%= result.snippet.title %> <%= result.id.playlistId %></p>
			      	<% end %>
				<% end %>
			<% end %>
		</div>
	<% end %>	 
</center>